* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    padding: 20px 35px;
    background: linear-gradient(to right, rgb(104, 133, 214) , rgb(21, 17, 71));
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hide {
 display: none;
}

header h1 {
    font-weight: bold;
    font-size: 33px;
    color: white;
    margin:0;
}

.searchbtn {
    background-color: #91c7fa;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0.5em 0;
}

input {
    width: 80%;
    height: 40px;
    font-size: 20px;
    padding: 0 1em;
}

.slctcity {
    border-radius: 10px;
    background-color: #bdbdbd;
    width: 80%;
    height: 40px;
    color: black;
    font-size: 20px;
    text-align: center;
}

.displayBox {
    width: 140px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border: black;
    border: solid;
}

.cityName {
    font-size: 30px;
}

.fiveDay {
    font-weight: 30000;
}
